/* HEADER */
header {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}

.container {
    max-width: 1920px;
    width: 85%;
    margin: auto;
}

.navbar {
    background-color: var(--quaternary-color);
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu-head {
    display: flex;
    align-items: center;
    margin: 0;

    .dropdown-button {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        color: var(--secondary-color);
        cursor: pointer;
        padding-bottom: 35px;

        &.active{
            color: var(--deliverboo-fifty);
        }
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: var(--quaternary-color);
        width: 100%;
        left: 0;
        text-align: center;
        max-height: 100%;
        z-index: 9999;

        a{
            text-decoration: none;
            color: var(--secondary-color);
            font-size: 22px;
            margin-bottom: 20px;
        }

        a:hover{
            color: var(--deliverboo-fifty);
        }
    }

    .dropdown-content.show {
        display: flex;
    }

    .menu-links {
        display: flex;
        padding-bottom: 25px;
        a {
            text-decoration: none;
            color: var(--secondary-color);
            margin-left: 25px;
            font-size: 18px;
        }

        a:hover {
            color: var(--deliverboo-fifty);
        }
    }

    @media (max-width: 1024px) {
        .menu-links {
            display: none;
        }

        .dropdown-button {
            display: block;
        }
    }

    @media (min-width: 1025px) {
        .dropdown-content {
            display: none;
        }
    }
}

.logo {
    cursor: pointer;
    padding: 24px 0 0 0;

    h2 {
        i {
            color: var(--deliverboo-fifty);
            margin-right: 10px;
        }
    }

    a {
        text-decoration: none;
        color: var(--deliverboo-fifty);
    }
}