/* HEADER */
header {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}

.container {
    max-width: 1920px;
    width: 90%;
    margin: auto;
}

.navbar {
    background-color:var(--quaternary-color);
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    

    .menu {
        padding-top: 5px;
        a {
            text-decoration: none;
            color: var(--secondary-color);
            margin-left: 25px;
            font-size: 18px;

            i{
                display: none;
            }
        }

        a:hover{
            color: var(--primary-color);
        }

    }

    

    .logo{
        cursor: pointer;
        padding: 24px 0 0 0;
        h2{
            i{
                color: var(--deliverboo-fifty);
                margin-right: 10px;
            }
        }

        a{
            text-decoration: none;
            color: var(--deliverboo-fifty);
        }
    }
}

