.order-page {
    background-color: var(--tertiary-color);
    min-height: 100vh;
    padding: 5rem 0;

    .btn_back {
        position: absolute;
        padding: 0.8rem;
        display: flex;
        top: 120px;
        left: 140px;
        text-decoration: none;
        color: black;
        background-color: white;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .btn_back:hover {
        transition: 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 7px 7px 4px;
        color: var(--deliverboo-fifty);
        font-weight: bold;
    }

    .order_title {
        text-align: center;
        padding-bottom: 2rem;
        color: var(--deliverboo-eighty);
    }

    .order_row {
        padding: 0 30rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .order_col {
            width: 50%;

            .order_form {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;

                .border-red {
                    border: 2px solid red !important;
                }

                .text-red {
                    color: red !important;
                }

                input,
                textarea {
                    border-radius: 8px;
                    padding: 0.3rem 1rem;
                    background-color: lightgray;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    outline: none;
                }

                .form_label {
                    .mandatory {
                        color: rgba(52, 52, 52, 0.85);
                    }
                }
            }

            .order_loading {
                position: fixed;
                backdrop-filter: blur(1px);
                z-index: 100;
            }

        }

        .recap_card {
            padding: 1rem;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.4) 3px 3px 29px 0px;
            min-width: 350px;

            .recap_title {
                margin-bottom: 0.3rem;
            }

            .restaurant_name {
                font-weight: bold;
                font-size: 17px;
            }

            ul {
                list-style: none;
                padding-bottom: 0.5rem;
            }

            .tot_order {
                font-weight: bold;

            }
        }
    }
}

.braintree-placeholder {
    margin-bottom: 0;
}

.braintree-placeholder,
.braintree-placeholder {
    margin-bottom: 0;
}

@media screen and (max-width:992px) {

    .order_title {
        text-align: center;
        padding: 3rem 0;
        color: var(--deliverboo-eighty);
    }

    .order_row {
        padding: 0 2.5rem !important;
        margin: 0;
    }
}

@media screen and (max-width:425px) {

    .btn_back {
        left: 20px !important;
    }

    .order_title {
        text-align: center;
        padding: 3rem 0;
        color: var(--deliverboo-eighty);
    }

    .order_row {
        padding: 0 1.5rem !important;
        flex-direction: column !important;

        .recap_col {
            margin-bottom: 1rem;
        }

        .order_col {
            width: 100% !important;
        }
    }
}