.order_completed {
  min-height: 100vh;
  background-color: var(--tertiary-color);
}

.completed{
  max-width: 1920px;
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 1.5rem 0;
  }

  p {
    margin-bottom: 20px;
  }
}

.completed-text{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 60%;
  border-radius: 30px;
  height: 400px;
  background-color: white;
  padding: 60px 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn_pay {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0 0 3rem;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.btn_pay:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.btn_pay:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn_pay:after {
  background-color: #FFFFFF;
}

.btn_pay span {
  z-index: 1;
  position: relative;
}


/* MEDIA */

/* media tablet */
@media (max-width: 768px) {
  .completed{
    text-align: center;
    padding: 8% 0;
  }

  .completed-text{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    border-radius: 30px;
    height: 400px;
    background-color: white;
    margin-top: 0px;
    padding: 55px 0;
  }

  .completed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 80%;
    margin:auto;
  }

}

/* media cell */

@media (max-width: 450px){

  .completed{
    text-align: center;
    padding: 15% 0;
  }

  .completed-text{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    border-radius: 30px;
    height: 400px;
    background-color: white;
    margin-top: 10px;
    padding: 25px 10px;
  }

  .completed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 90%;
    margin:auto;
  }
}