.search-rest {
  display: flex;
  height: 100vh;
  max-width: 1920px;
  width: 95%;
  margin: auto;
  overflow-y: auto;
}

.sidebar {
  width: 22%;
  height: 100vh;
  padding: 30px;
  overflow-y: auto;
}

/* SCROLLBAR */
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 16px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

}

.sidebar::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 15px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox scrollbar styles */
.dropdown-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.content-search {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-bottom: 16px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 2px 14px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin-bottom: 30px;


  #found {
    width: 270px;
    height: 30px;
    border: none;
    padding: 0 20px;
    caret-color: goldenrod;
    font-size: 12px;
  }

  #found:focus {
    outline: none;
  }

  .found-rest {
    width: 60px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    margin-right: -5px;

    a {
      text-decoration: none;
      color: goldenrod;
    }
  }

  .found-rest:hover {
    background-color: #333;
  }
}

.dropdown {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.dropdown-button {
  width: 100%;
  background-color: #161616;
  border: none;
  outline: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: goldenrod;

  span {
    color: goldenrod;
    cursor: pointer;
  }

}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 20px;
  background-color: #161616;
  color: goldenrod;
}

.dropdown-content.open {
  max-height: 100%;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
  max-height: 400px; 
  overflow-y: auto;
}

.dropdown-content li {
  margin: 16px 0;
  font-size: 18px;
  width: 50%;
  box-sizing: border-box; 
}

.dropdown-content input[type="radio"] {
  margin-right: 10px;
}


/* FEED GRID */

.feed-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 75%;
  margin: 55px 10px;
  gap: 20px;

}

.col-2 {
  width: calc(100%/6);
}

.card-rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.349);
  height: auto;

  .card-body-rest {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}